<template>
  <div class="p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 font-weight-normal">Поиск вопросов на StackOverflow</h5>
  </div>
</template>

<script>
export default {
  name: 'AppHeader',
};
</script>
