<template>
  <b-modal
    id="content-modal"
    ok-only
    size="lg"
    :title="question.title">
    <post
      v-if="question.owner"
      :content="question.body"
      :tags="question.tags"
      :user="getUser(question.owner)"/>
    <template v-if="answers">
      <h3 class="mt-4">Ответы</h3>
      <post
        v-for="(answer, i) in answers"
        :class="{ 'border-bottom mb-3': isNotLast(i) }"
        :key="answer.answer_id"
        :content="answer.body"
        :tags="answer.tags"
        :user="getUser(answer.owner)"/>
    </template>
  </b-modal>
</template>

<script>
import Post from '@/components/Post';

export default {
  name: 'ContentModal',
  components: { Post },
  props: {
    question: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    answers() {
      return this.question.answers;
    },
  },
  methods: {
    getUser(owner) {
      return {
        avatar: owner.profile_image,
        name: owner.display_name,
        reputation: owner.reputation,
      };
    },
    isNotLast(index) {
      return index + 1 !== this.answers.length;
    },
  },
};
</script>
