<template>
  <div>
    <div class="content" v-html="content"></div>
    <tags class="mt-1" v-if="tags" :list="tags"/>
    <user
      class="mt-3"
      :avatar="user.avatar"
      :name="user.name"
      :reputation="user.reputation"/>
  </div>
</template>

<script>
import Tags from '@/components/Tags';
import User from '@/components/User';

export default {
  name: 'Post',
  components: { Tags, User },
  props: {
    tags: {
      type: Array,
      default: () => [],
    },
    content: {
      type: String,
      default: '',
    },
    user: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>


<style scoped>
.content >>> img {
  max-width: 100%;
}
</style>
