<template>
  <b-list-group-item
    href="#"
    class="flex-column align-items-start"
    action
    @click.prevent="$emit('click')">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ title }}</h5>
      <small class="text-right">
        <nobr>{{ formattedDate }}</nobr><br>
        <nobr>{{ name }}</nobr>
      </small>
    </div>
    <p class="mb-1">
      {{ cuttedContent }}
    </p>
    <div class="mt-1">
      <b-badge pill variant="secondary">{{ score }} голосов</b-badge>
      <b-badge pill variant="secondary">{{ answerCount }} ответов</b-badge>
    </div>
    <tags class="mt-1" :list="tags"/>
  </b-list-group-item>
</template>

<script>
import getFormattedDate from '@/utils/getFormattedDate';
import cutContent from '@/utils/cutContent';

import Tags from '@/components/Tags';

export default {
  name: 'QuestionItem',
  components: { Tags },
  props: {
    title: {
      type: String,
      default: '',
    },
    date: {
      type: Number,
      default: 0,
    },
    name: {
      type: String,
      default: '',
    },
    score: {
      type: Number,
      default: 0,
    },
    answerCount: {
      type: Number,
      default: 0,
    },
    tags: {
      type: Array,
      default: () => [],
    },
    content: {
      type: String,
      default: '',
    },
  },
  computed: {
    formattedDate() {
      return getFormattedDate(this.date);
    },
    cuttedContent() {
      return cutContent(this.content);
    },
  },
};
</script>
