<template>
  <b-list-group>
    <question-item
      v-for="question in list"
      :title="question.title"
      :date="question.creation_date"
      :name="question.owner.display_name"
      :content="question.body"
      :score="question.score"
      :answer-count="question.answer_count"
      :tags="question.tags"
      :key="question.question_id"
      @click="$emit('question-click', question.question_id)"/>
  </b-list-group>
</template>

<script>
import QuestionItem from '@/components/QuestionItem';

export default {
  name: 'QuestionsList',
  components: { QuestionItem },
  props: {
    list: {
      type: Array,
      default: () => [],
    },
  },
};
</script>
