<template>
  <b-form-input
    type="search"
    placeholder="Поиск"
    :value="query"
    @input="fieldInputHandler"/>
</template>

<script>
import debounce from 'lodash/debounce';

export default {
  name: 'Search',
  model: {
    prop: 'query',
    event: 'input',
  },
  props: {
    query: {
      type: String,
      default: '',
    },
  },
  methods: {
    fieldInputHandler(value) {
      if (value !== this.query) {
        this.update(value);
      }
    },
    update: debounce(function update(value) {
      this.$emit('input', value);
    }, 500),
  },
};
</script>
