<template>
  <b-button-group>
    <b-button
      v-for="(button, i) in buttons"
      :pressed="button === selected"
      :key="i"
      @click="buttonClickHandler(button)">
      {{ button.caption }}
    </b-button>
  </b-button-group>
</template>

<script>
export default {
  name: 'Sorting',
  model: {
    prop: 'selected',
    event: 'change',
  },
  props: {
    buttons: {
      type: Array,
      default: () => [],
    },
    selected: {
      type: Object,
      default: () => ({}),
    },
  },
  methods: {
    buttonClickHandler(selected) {
      this.$emit('change', selected);
    },
  },
};
</script>
