<template>
  <div>
    <b-badge
      class="mr-1"
      variant="primary"
      v-for="(tag, i) in list"
      :key="i">
      {{ tag }}
    </b-badge>
  </div>
</template>

<script>
export default {
  name: 'Tags',
  props: {
    list: {
      type: Array,
      default: () => [],
    },
  },
};
</script>
