<template>
  <b-media class="text-muted">
    <b-img
      width="32"
      height="32"
      alt=""
      slot="aside"
      :src="avatar"/>
    <b-media-body class="pb-3 mb-0 small lh-125">
      <strong class="d-block text-gray-dark">{{ name }}</strong>
      Репутация - {{ reputation }}
    </b-media-body>
  </b-media>
</template>

<script>
export default {
  name: 'User',
  props: {
    avatar: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    },
    reputation: {
      type: Number,
      default: 0,
    },
  },
};
</script>
