<template>
  <div id="app">
    <app-header/>
    <b-container>
      <search
        class="mb-3"
        v-model="query"
        @input="searchInputHandler"/>
      <sorting
        v-model="sorting"
        :buttons="sortingButtons"
        @change="sortingChangeHandler"/>
      <b-alert
        class="mt-3"
        v-if="message.content"
        show
        :variant="message.variant">
        {{ message.content }}
      </b-alert>
      <questions-list
        ref="list"
        class="pt-3 pb-3"
        :list="questionsList"
        @question-click="questionClickHandler"/>
      <b-pagination
        class="mb-3"
        v-model="page"
        v-if="paginationVisible"
        :total-rows="total"
        :per-page="pageSize"
        @change="paginationChangeHandler"/>
      <content-modal :question="question"/>
    </b-container>
  </div>
</template>

<script>
import getSearchResults from '@/api/methods/getSearchResults';
import getQuestion from '@/api/methods/getQuestion';

import AppHeader from '@/components/AppHeader';
import Search from '@/components/Search';
import Sorting from '@/components/Sorting';
import ContentModal from '@/components/ContentModal';
import QuestionsList from '@/components/QuestionsList';

const pageSize = 20;
const messages = {
  notFound: {
    content: 'Ничего не найдено :(',
    variant: 'warning',
  },
  error: {
    content: 'Ошибка запроса',
    variant: 'danger',
  },
};
const sortingButtons = [
  { caption: 'По популярности', sortBy: 'votes' },
  { caption: 'По дате', sortBy: 'creation' },
];

export default {
  name: 'App',
  components: { AppHeader, QuestionsList, Search, Sorting, ContentModal },
  data() {
    return {
      questionsList: [],
      page: 1,
      total: 0,
      query: '',
      message: {
        content: '',
        variant: '',
      },
      sorting: sortingButtons[0],
      question: {},
      questionLoading: false,
      pageSize,
      sortingButtons,
    };
  },
  computed: {
    paginationVisible() {
      return (this.total / pageSize) > 1;
    },
    sortBy() {
      return this.sorting.sortBy;
    },
  },
  methods: {
    paginationChangeHandler() {
      this.updateWithScroll();
    },
    searchInputHandler() {
      this.reload();
    },
    sortingChangeHandler() {
      this.reload();
    },
    questionClickHandler(id) {
      if (!this.questionLoading) {
        this.openQuestion(id);
      }
    },
    reload() {
      this.page = 1;
      this.updateQuestions();
    },
    scrollToList() {
      const { $el } = this.$refs.list;
      this.$nextTick(() => $el.scrollIntoView());
    },
    showNotFound() {
      this.message = { ...messages.notFound };
    },
    showError() {
      this.message = { ...messages.error };
    },
    hideMessage() {
      this.message.content = '';
    },
    clearResults() {
      this.questionsList = [];
      this.total = 0;
    },
    showModal() {
      this.$root.$emit('bv::show::modal', 'content-modal');
    },
    async updateWithScroll() {
      await this.updateQuestions();
      this.scrollToList();
    },
    async openQuestion(id) {
      this.hideMessage();
      this.questionLoading = true;

      try {
        this.question = await getQuestion(id);
        this.showModal();
      } catch (e) {
        this.showError();
      } finally {
        this.questionLoading = false;
      }
    },
    async updateQuestions() {
      this.hideMessage();

      if (!this.query) {
        this.clearResults();
        return;
      }

      try {
        const { items, total } = await getSearchResults({
          pagesize: pageSize,
          page: this.page,
          intitle: this.query,
          sort: this.sortBy,
        });

        this.questionsList = items;
        this.total = total;

        if (!total) {
          this.showNotFound();
        }
      } catch (e) {
        this.showError();
      }
    },
  },
};
</script>
